

/* la bonne logique est d'écrire le css d'abord pour le mobile */
/* tout en bas du fichier, on écrit ensuite les media queries pour le desktop */
/* l'idéal est d'écrire le CSS pour le moins puissant des appareils d'abord jusqu'au plus puissant */

/*
    small screen sizes => from 0 to 768px
    tablets => from 768 to 991px
    laptops => from 992 to 1199px
    desktop screens and bigger => starting 1199px
    @media screen and (max-width:768px) {}
    @media screen and (min-width:768px and max-width:991px) {}
*/

body {
    margin: 0;
}
#bloc_page {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: auto;
}
img {
    width: 100%;
    height: auto;
} 

/* header */
.navbar {
    display: flex;
    height: 100px;
}
.logoreservia {
    width: fit-content;
    height: 50px;
    padding-top: 20px;
}
#navform {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70px;

 }
.hbgheader {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 70px;
 }
 .hbgheader:hover {
    border-top: solid #0065FC;
    box-sizing: border-box;

 }
.actheader {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 70px;
    box-sizing: border-box;
 }
.actheader:hover {
    border-top: solid #0065FC;
    box-sizing: border-box;
}
.loginheader {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 70px;
    padding-right: 20px;
 }

.navplacement {
    padding-top: 45px;
} 
.navplacement1 {
    padding-top: 45px;
    color: #0065FC;
    font-weight: bold;
}
a.navplacement:hover {
    color: #0065FC;

}

.acthbg {
    display: flex;
}
/*div en dessous header*/
#titre_principal {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}


/* searchIcon */
#searchBtnIcon {
    display: none;
}


/*Filtres*/
.filtres {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    flex-wrap: wrap;
}
.titre-filtre {
    margin-right: 40px;
    font-size: 20px;
}

.filtredetailling {
    display: flex;
    align-items: center;
    padding-right: 11px;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
}
.filtredetailling:hover {
    transform: scale(1.013);
    background-color:#f3f8ff;
}
.test {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
}
.h2filtre {
    margin: 0 10px;
    font-size: 17px;
}
.fa-child {
    font-size: 20px;
}
.fa-money-bill-wave {
    font-size: 18px;
}
.fa-heart {
    font-size: 20px;
}
.fa-dog {
    font-size: 20px;
}
/*barre info logement*/
.nbLogement {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.nbLogement .fas {
    color: #0065fc;
    padding: 7px 12px;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    margin-right: 10px;
}

.nbLogement p {
    display: inline;
}

/*barre de recherche localisation*/
.localisation {
    display: flex;
    margin-top: 15px;
    margin-bottom: 35px;
}
#localizationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}
.barre-recherche {
    font-size: 18px;
    padding: 0 0 0 20px;
    height: 57px;
    width: 250px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
.fa-map-marker-alt {
    font-size: 20px;
}
::placeholder {
    color: black;
    font-weight: bold;
}
.bouton-recherche {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
}

#section_bloc {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}


#hebergements {
    width: 56%;
    height: 100%;
    border: solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
    text-align: justify; 
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
#emphbg {
    color: black;
    font-weight: bold;
    margin: 10px 0 30px 5px;
    font-size: 1.2em;
    text-decoration: none;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.textimg2 {
    padding-left: 20px;
    height: 10%;
}

.imghebergement {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0px;
}

.imgpopulaire {
    width: 33.3%;
    height: auto;
    border-radius: 20px 0px 0px 20px;
    padding: 3px;
}
.imgact {
    width: 100%;
    height: 230px;
    border-radius: 20px 20px 0 0
}
.imgact1 {
    width: 100%;
    height: 600px;
    border-radius: 20px 20px 0 0;
}
.imgact1a {
    width: 100%;
    height: 146px;
    border-radius: 20px 20px 0 0;
}
.titleandlogo {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.fas.fa-chart-line {
    font-size: 30px;
    display: flex;
    align-items: center;
}
#populaire {
    height: auto;
    border: solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
}
.popularCardRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.starsfamous {
    display: flex;
    justify-content: flex-start;
}

.border {
    display: flex;
    flex-direction: column;
    border: solid white;
    box-shadow: 0 0 20px #0000002e;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 3px;
    cursor: pointer;
}
.border p {
    margin: 3px 0 10px 10px;
}
.border h4 {
    margin: 10px 0 0px 10px;
}
.border:hover {
    transform: scale(1.02);
}
.border2 {
    display: flex;
    height: 140px;
    border: solid white;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    margin-block-end: 44px;
    cursor: pointer;
}
/* .testnum555 {
    display: flex;
    flex-direction: column;
} */
.border2 p {
    margin: 3px 0 10px 10px;
}
.border2 h4 {
    margin: 10px 0 7px 0;
}
.border2:hover {
    transform: scale(1.02);
}
.border3 {
    display: flex;
    width: 100%;
    min-height: 518px;
    max-height: 518px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    cursor: pointer;
}
.border3:hover {
    transform: scale(1.02);
}
.border3a {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    width: 100%;
    height: 280px;
    cursor: pointer;
}
.border3a:hover {
    transform: scale(1.02);
}
.border3b {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    width: 100%;
    height: 199px;
    /* margin-bottom: 200px; */
    cursor: pointer;
}
.border3b:hover {
    transform: scale(1.02);
}

#subsection2 {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 280px;
    height: 600px;
}

#port {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    height: 100%;
}
#pomègues {
    display: flex;
    flex-direction: column;
}

#frioul {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}
#calanques {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    height: 100%;
}
#dame {
    display: flex;
    flex-direction: column;
}
#longchamp {
    display: flex;
    flex-direction: column;
}
/* implantation étoile */
.hostingMainCardGradeIcon {
    color: #0065fc;
}
.hostingMainCardGradeIconEmpty{
    color: #d9d9d9;
}
/* footer */
#bdp {
    width: 100%;
    height: 200px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 


#bas_de_page {

    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1440px;
}
/* #a_propos {
    padding: 30px;
} */
#footerplacement1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footerlink {
    margin-bottom: 10px;
}
.footertitle {
    font-size: 20px;
}
 a {
     text-decoration: none;
     color: initial;
 }
 #plc {
     margin-right: 350px;
 }


#nos_herbergements {
    padding: 20px;
}
/* media queries for mobiles and tablets */

@media screen and (max-width:992px) {

    #bloc_page {
        width: 100%;
        height: 100%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin-bottom: 100px;
    }
    .loginheader {
        position: relative;
        bottom: 70px;
    }
    .acthbg {
        display: flex;
    }
    #section_bloc {
        flex-direction: column;
    }
    .localisation {
        justify-content: flex-start;
    }
    .barre-recherche {
        width: 65%;
        margin: 0;
    }
    #searchBtnIcon {
        display: initial;
    }
    #searchBtnText {
        display: none;
    }
    .titre-filtre {
        width: 100%;
        order: 1;
    }
    .filtredetailling {
        order: 2;
    }
    #populaire {
        width: auto;
        order:1;
        border-radius: 0%;
    }
    #hebergements {
        width: auto;
        height: 100%;
        order:2;
        background-color: white;
        border-color: white;
    }
    .imghebergement {
        height: 70%;
    }
    #wrap1 {
        display: flex;
        flex-direction: column;
    }

    #sub2 {
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #subsection2 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .border {
        height: 35vh;
    }
    .border2 {
        width: 100%;
    }
    .border3 {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .border3a {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .border3b {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .imgact {
        height: 160px;
    }
    .imgact1 {
        height: 160px;
    }
    .imgact1a {
        height: 160px;
    }
    #bdp {
        margin-top: 40px;
        height: 100%;
    }
    #bas_de_page {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }
    #bloc {
        padding-top: 20px;
        padding-left: 55px;

    }
}

/* 
@media screen and (min-width:1115px) and (max-width:1525px) {
    #subsection2 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #port {
        grid-row: 1/3;
    }
    #frioul {
        grid-row: 2;
        grid-column: 2;
    }
    #calanques {
        grid-row: 1/3;
    }
}  */