body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
#bloc_page {
    width: 90%;
    margin: auto;
}
#bloc_page h1 {
    margin: 0;
}

/* header */

.navbar {
    display: flex;
    height: 100px;
}
.logoreservia {
    width: fit-content;
    height: 50px;
    padding-top: 20px;
}
#navform {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70px;
}
.acthbg {
    display: flex;
}
.hbgheader {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 70px;
}
.hbgheader:hover {
    border-top: solid #0065FC;
}
.actheader {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 70px;
}
.actheader:hover {
    border-top: solid #0065FC;
}
.navplacement {
    padding-top: 45px;
}
a.navplacement:hover {
    color: #0065FC;
}
.loginheader {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 70px;
    padding-right: 20px;
}
.navplacement1 {
    padding-top: 45px;
    color: #0065FC;
    font-weight: bold;
}

/*section1*/

#titre_principal {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}
#searchBtnIcon {
    display: none;
}

/*barre de recherche localisation*/

.localisation {
    display: flex;
    margin-top: 15px;
    margin-bottom: 35px;
}
#localizationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}
.fa-map-marker-alt {
    font-size: 20px;
}
.barre-recherche {
    font-size: 18px;
    padding: 0 0 0 20px;
    height: 57px;
    width: 250px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
.bouton-recherche {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
}
::placeholder {
    color: black;
    font-weight: bold;
}

/*Filtres*/

.filtres {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    flex-wrap: wrap;
}
.titre-filtre {
    position: relative;
    bottom: 3px;
    margin-right: 40px;
    font-size: 22px;
}
.filtredetailling {
    display: flex;
    align-items: center;
    padding-right: 11px;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
}
.filtredetailling:hover {
    transform: scale(1.013);
    background-color:#f3f8ff;
}
.compartimentfiltre {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
}
.h2filtre {
    margin: 0 13px;
    font-size: 18px;
}
.fa-child {
    font-size: 20px;
}
.fa-money-bill-wave {
    font-size: 18px;
}
.fa-heart {
    font-size: 20px;
}
.fa-dog {
    font-size: 20px;
}

/*barre info logement*/

.nbLogement {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.nbLogement .fas {
    color: #0065fc;
    padding: 7px 12px;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    margin-right: 10px;
}
.nbLogement p {
    display: inline;
}

/*section hébergement*/

#section_bloc {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
#hebergements {
    width: 60%;
    height: auto;
    border: solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
#wrap1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.border {
    display: flex;
    flex-direction: column;
    border: solid white;
    box-shadow: 0 0 20px #0000002e;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 3px;
    cursor: pointer;
}
.border:hover {
    transform: scale(1.02);
}
.border h4 {
    font-size: 18px;
    margin: 10px 0 0px 10px;
}
.border p {
    margin: 3px 0 10px 10px;
}
.imghebergement {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
}
.stars {
    margin-left: 10px;
}
.hostingMainCardGradeIcon {
    color: #0065fc;
}
.hostingMainCardGradeIconEmpty{
    color: #d9d9d9;
}
#emphbg {
    color: black;
    font-weight: bold;
    margin: 10px 0 30px 5px;
    font-size: 1.2em;
    text-decoration: none;
}

/*section 1 les plus populaire */

#populaire {
    width: 26%;
    height: auto;
    border: solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
}
.titleandlogo {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.fas.fa-chart-line {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.border2 {
    display: flex;
    height: 178px;
    border: solid white;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    margin-block-end: 40px;
    cursor: pointer;
}
.border2 h4 {
    font-size: 18px;
    margin: 15px 0 0 0;
}
.border2 p {
    margin-top: 5px;
}
.border2:hover {
    transform: scale(1.02);
}
.imgpopulaire {
    width: 37%;
    height: auto;
    border-radius: 20px 0px 0px 20px;
    padding: 3px;
    object-fit: cover;
}
.popularCardRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.space {
    flex: 1;
}
.starsfamous {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/*section 2 activité */

#sub2 {
    margin-top: 70px;
    margin-bottom: 60px;
}
#subsection2 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4,1fr);
}
.border3 {
    display: flex;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    cursor: pointer;
}
.border3:hover {
    transform: scale(1.02);
}
#port {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    height: 97%;
}
#calanques {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    height: 97%;
}
.imgact1 {
    width: 100%;
    height: 545px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.textimg2 {
    padding-left: 20px;
}
.border3a {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    width: 100%;
    height: 330px;
    cursor: pointer;
}
.border3a:hover {
    transform: scale(1.02);
}
#pomegues {
    display: flex;
    flex-direction: column;
}
#dame {
    display: flex;
    flex-direction: column;
}
.imgact {
    width: 100%;
    height: 270px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.border3b {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.border3b:hover {
    transform: scale(1.02);
}
#frioul {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}
#longchamp {
    display: flex;
    flex-direction: column;
}
.imgact1a {
    width: 100%;
    height: 165px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* footer */

#bdp {
    width: 100%;
    height: 200px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#bas_de_page {

    display: flex;
    justify-content: space-between;
    width: 90%;
    justify-content: flex-start;
}
.bloc {
    width: 30%;
}
.footertitle {
    font-size: 20px;
}
.footerplacement1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footerlink {
    margin-bottom: 10px;
}
 a {
     text-decoration: none;
     color: initial;
 }

/* media queries for mobiles and tablets */

@media screen and (max-width:768px) {

    #bloc_page {
        width: 100%;
        height: 100%;
    }
    /* navbar*/
    .navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .logoreservia {
        margin-left: 25px;
    }
    #navform {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .acthbg {
        width: 100%;
        font-size: 17px;
    }
    .hbgheader {
        width: 50%;
        border-bottom: #f2f2f2 solid 3px;
    }
    .loginheader {
        display: flex;
        font-size: 17px;
    }
    .navplacement1 {
        position: absolute;
        top: 0px;
        right: 30px;
    }
    .hbgheader:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }
    .actheader {
        width: 50%;
        border-bottom: #f2f2f2 solid 3px;
    }
    .actheader:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }

    /* section 1 */
    .taille {
        margin-left: 20px;
        margin-right: 20px;
    }
    #titre_principal {
        margin-top: 10px;
    }
    .localisation {
        justify-content: flex-start;
    }
    .barre-recherche {
        width: 65%;
        margin-right: -13px;
    }
    #searchBtnIcon {
        display: initial;
        border-radius: 20px;
        width: 20px;
        font-size: 18px;
    }
    #searchBtnText {
        display: none;
    }
    .filtres {
        margin-top: -15px;
    }
    .titre-filtre {
        width: 100%;
        order: 1;
    }
    .filtredetailling {
        order: 2;
    }
    /* section 1 (hébergement/populaire)*/
    #section_bloc {
        flex-direction: column;
    }
    #hebergements {
        width: auto;
        height: 100%;
        order:2;
        background-color: white;
        border-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    #wrap1 {
        display: flex;
        flex-direction: column;
    }
    .imghebergement {
        height: 70%;
        height: 17vh;
    }
    #populaire {
        width: auto;
        order:1;
        border-radius: 0%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .border2 {
        height: 20vh;
        margin-block-end: 15px;
    }
    .imgpopulaire {
        width: 43%;
    }

    /*section activité*/

    #sub2 {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #subsection2 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .border3 {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .imgact1 {
        height: 160px;
    }
    .border3a {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .imgact {
        height: 160px;
    }
    .border3b {
        width: auto;
        min-height: 210px;
        max-height: 210px;
    }
    .imgact1a {
        height: 160px;
    }

    /* footer */

    #bdp {
        margin-top: 40px;
        height: 100%;
    }
    #bas_de_page {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }
    .bloc {
        padding-top: 20px;
        padding-left: 55px;

    }
}


@media screen and (min-width:768px) and (max-width:992px) {
    #bloc_page {
        width: 100%;
        height: 100%;
    }
    /*header*/
    .navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .logoreservia {
        margin-left: 25px;
    }
    #navform {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .acthbg {
        width: 100%;
        font-size: 17px;
    }
    .hbgheader {
        width: 50%;
        border-bottom: #f2f2f2 solid 3px;
    }
    .hbgheader:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }
    .actheader {
        width: 50%;
        border-bottom: #f2f2f2 solid 3px;
    }
    .actheader:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }
    .loginheader {
        display: flex;
        font-size: 17px;
    }
    .navplacement1 {
        position: absolute;
        top: 0px;
        right: 30px;
    }

    /* barre recherche filtre*/
    .taille {
        margin-left: 20px;
        margin-right: 20px;
    }
    #titre_principal {
        margin-top: 10px;
    }
    .localisation {
        justify-content: flex-start;
    }
    .barre-recherche {
        width: 65%;
        margin-right: -13px;
    }
    #searchBtnIcon {
        display: initial;
        border-radius: 20px;
        width: 20px;
        font-size: 18px;
    }
    #searchBtnText {
        display: none;
    }
    .filtres {
        margin-top: -15px;
    }
    .titre-filtre {
        width: 100%;
        order: 1;
    }
    .filtredetailling {
        order: 2;
    }

    /* section 1 (hébergement/populaire)*/

    #section_bloc {
        flex-direction: column;
    }
    #hebergements {
        width: auto;
        height: 100%;
        order:2;
        background-color: white;
        border-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    #wrap1 {
        display: flex;
        flex-direction: column;
    }
    .imghebergement {
        height: 70%;
        height: 25vh;
    }
    #populaire {
        width: auto;
        order:1;
        border-radius: 0%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .border2 {
        width: 100%;
        height: 20vh;
        margin-block-end: 15px;
    }
    .imgpopulaire {
        width: 43%;
    }

    /* section 2 activité */
    #sub2 {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #subsection2 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .border3 {
        width: auto;
        min-height: 310px;
        max-height: 310px;
    }
    .imgact1 {
        height: 25vh;
    }
    .border3a {
        width: auto;
        min-height: 310px;
        max-height: 310px;
    }
    .imgact {
        height: 25vh;
    }
    .border3b {
        width: auto;
        min-height: 310px;
        max-height: 310px;
    }
    .imgact1a {
        height: 25vh;
    }
    /* footer */
    #bdp {
        margin-top: 40px;
        height: 100%;
    }
    #bas_de_page {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }
    .bloc {
        padding-top: 20px;
        padding-left: 55px;
    }
}